<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <u>
{%for instance in objectlist %}
<ul>
    <li>{{instance.task}} &nbsp; &nbsp;&nbsp; {{instance.due_date}}&nbsp; &nbsp;&nbsp;&nbsp;  <a href="{% url 'remove' instance.id %}">delete</a>  </li>
</ul>
{% endfor %}

    <form method="GET" action="getdata">
            <textarea  name="todo" placeholder="enter your task"></textarea>
            <br>
            <textarea name="due_date" placeholder="enter your due_date "></textarea>
            <br>
           
     
        <input type="submit" value="add">
    </form>
</body>
</html>