<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>
<body>
    <form method="GET" action="data">
            task:<br>
            <input type="text" name="todo" placeholder="enter your task">
            <br>
            due_date:<br>
            <input  type="datetime" name="due_date" placeholder="enter your due_date ">
            <br>
            <input type="email" name="email" placeholder="enter your email">
           
     
        <input type="submit" value="add">
    </form>
    
    

    {%for instance in objectlist %}
    <ul>
        <li>{{instance.task}} &nbsp; &nbsp;&nbsp; {{instance.due_date}}&nbsp;   <a href="{% url 'remove' instance.id %}">delete</a>  </li>
    </ul>
    {% endfor %}


   
</body>
</html>